body {
    font-family: 'Josefin Sans', sans-serif;
}

.typography {
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    perspective: 800px;
}

span {
    display: inline-block;
    color: #FF5733;
}

span:nth-child(2n) {
    color: #58D68D;
}

span:nth-child(1) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both;
}

span:nth-child(2) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

span:nth-child(3) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both;
}

span:nth-child(4) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .6s both;
}

span:nth-child(6) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
}

span:nth-child(7) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
}

span:nth-child(9) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;
}

span:nth-child(10) {
    animation: fontUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
}

@keyframes fontUp {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.cloud {
    width: 250px;
    height: 150px;
    position: relative;
    background: transparent url(front_cloud.png) 0 0 no-repeat;
}

.cloud1 {
    width: 100%;
    animation: sky 20s linear infinite;
}

.cloud2 {
    width: 100%;
    animation: sky 30s linear infinite;
}

@keyframes sky {
    from {
        transform: translateX(-255px);
    }
    to {
        transform: translateX(1500px);
    }
}

.walking {
    width: 500px;
    height: 500px;
    display: block;
    background: transparent url(walker_frames.png) 0 0 no-repeat;
    margin: 0 auto;
    animation: pWalk 2s steps(10) infinite;
    position: relative;
}

.walking-sub {}

@keyframes pWalk {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -5000px;
    }
}

.grass {
    display: block;
    height: 110px;
    background: transparent url(grass1.png) repeat-x;
    width: 100%;
    position: absolute;
    top: 850px;
}

.grass1 {
    width: 100%;
}